@font-face {
    font-family: 'HelveticaNeueLTStd67MdCn';
    src: url('helveticaneueltstd-mdcn-webfont.eot');
    src: url('helveticaneueltstd-mdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-mdcn-webfont.woff') format('woff'),
         url('helveticaneueltstd-mdcn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-mdcn-webfont.svg#HelveticaNeueLTStd67MdCn') format('svg');
    font-weight: normal;
    font-style: normal;

}

